body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:2px;
  width:866px;
  height:666px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:2px;
  width:866px;
  height:77px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:851px;
  height:5px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:123px;
  width:848px;
  height:2px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:95px;
  width:135px;
  height:23px;
  font-size:16px;
  color:#169BD5;
  text-align:right;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u2465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:222px;
  width:135px;
  height:23px;
  font-size:20px;
  text-align:right;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u2467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:269px;
  width:135px;
  height:23px;
  font-size:20px;
  text-align:right;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u2469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:217px;
  width:261px;
  height:35px;
  font-size:20px;
  text-align:left;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:257px;
  word-wrap:break-word;
}
#u2471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:265px;
  width:261px;
  height:35px;
  font-size:20px;
  text-align:left;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:257px;
  word-wrap:break-word;
}
#u2473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:392px;
  width:169px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u2475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:22px;
  width:300px;
  height:54px;
  font-size:36px;
  color:#169BD5;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u2477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:45px;
  width:97px;
  height:28px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u2479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:49px;
  width:47px;
  height:20px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
