body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  height:605px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:545px;
  width:88px;
  height:28px;
  color:#FFFFFF;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u2323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u2325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:21px;
  width:23px;
  height:25px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:237px;
  width:41px;
  height:16px;
  font-size:13px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:265px;
  width:94px;
  height:16px;
  font-size:13px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u2331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#169BD5;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:340px;
  width:54px;
  height:18px;
  font-size:13px;
  color:#169BD5;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:101px;
  width:54px;
  height:16px;
  font-size:13px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:101px;
  width:28px;
  height:16px;
  font-size:13px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:236px;
  width:166px;
  height:26px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:162px;
  word-wrap:break-word;
}
#u2339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:263px;
  width:166px;
  height:26px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:162px;
  word-wrap:break-word;
}
#u2341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:393px;
  width:83px;
  height:26px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  word-wrap:break-word;
}
#u2343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:125px;
  width:54px;
  height:16px;
  font-size:13px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:101px;
  width:82px;
  height:16px;
  font-size:13px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:546px;
  width:88px;
  height:28px;
  color:#FFFFFF;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:143px;
  width:152px;
  height:26px;
  text-align:left;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:148px;
  word-wrap:break-word;
}
#u2351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:480px;
  width:54px;
  height:18px;
  font-size:13px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:475px;
  width:166px;
  height:26px;
  font-size:16px;
  text-align:left;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:162px;
  word-wrap:break-word;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:62px;
  width:102px;
  height:29px;
  font-size:14px;
  color:#169BD5;
  text-align:left;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u2357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:210px;
  width:62px;
  height:27px;
  font-size:14px;
  color:#169BD5;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:58px;
  word-wrap:break-word;
}
#u2359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:26px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:390px;
  width:182px;
  height:26px;
  text-align:left;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:178px;
  word-wrap:break-word;
}
#u2361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:143px;
  width:38px;
  height:26px;
  font-size:12px;
  color:#169BD5;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:34px;
  word-wrap:break-word;
}
#u2363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:358px;
  width:83px;
  height:26px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  word-wrap:break-word;
}
#u2365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:125px;
  width:116px;
  height:16px;
  font-size:13px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u2367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:147px;
  width:54px;
  height:16px;
  font-size:13px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:147px;
  width:1px;
  height:16px;
  font-size:13px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:142px;
  width:166px;
  height:26px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:162px;
  word-wrap:break-word;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:149px;
  width:12px;
  height:17px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:170px;
  width:300px;
  height:22px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u2377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:294px;
  width:41px;
  height:16px;
  font-size:13px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:289px;
  width:71px;
  height:26px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u2381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:296px;
  width:41px;
  height:16px;
  font-size:13px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:290px;
  width:71px;
  height:26px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u2385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:585px;
  width:121px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u2387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:585px;
  width:121px;
  height:30px;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u2389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:585px;
  width:121px;
  height:30px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:26px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:500px;
  width:261px;
  height:26px;
  text-align:left;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:257px;
  word-wrap:break-word;
}
#u2393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:97px;
  width:21px;
  height:22px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:21px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:429px;
  width:131px;
  height:21px;
  text-align:left;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:127px;
  word-wrap:break-word;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:21px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:429px;
  width:131px;
  height:21px;
  text-align:left;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:127px;
  word-wrap:break-word;
}
#u2399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:433px;
  width:14px;
  height:13px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:433px;
  width:14px;
  height:13px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:501px;
  width:300px;
  height:22px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u2405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:558px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:57px;
  width:360px;
  height:558px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:271px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:79px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:246px;
  width:300px;
  height:79px;
  text-align:left;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  word-wrap:break-word;
}
#u2409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:216px;
  width:300px;
  height:31px;
  font-size:16px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:224px;
  width:18px;
  height:16px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
