<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>秦皇岛新绎业态分析</title>
	<link rel="stylesheet" href="../css/brandCulture.css">
</head>
<body>
<div class="brand" style="width: 275px;background-color: #031057">
	<table border="1" cellspacing="0">
		<caption>秦皇岛新绎业态分析</caption>
		<tbody id="tb">
		</tbody>
	</table>
	<p>从业态特征来看，相比于邻近区域的古北水镇、台儿庄，秦皇岛新绎业态更丰富;</p>
</div>
<script src="../js/jquery.js"></script>
<script src="../js/brandCulture.js"></script>
<script>
	function getData(callback) {
		$.ajax({
			url: '../json/brandCulture.json',
			type: 'GET',
			dataType: 'json',
			success: function (result) {
				if (result.status === 200) {
					callback(result);
				}
			}
		});
	}
	getData(bindData);
</script>
</body>
</html>