body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:2px;
  width:866px;
  height:666px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:2px;
  width:866px;
  height:77px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:144px;
  width:110px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u2050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:141px;
  width:72px;
  height:27px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u2052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:141px;
  width:107px;
  height:27px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:141px;
  width:75px;
  height:27px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u2056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:141px;
  width:120px;
  height:27px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:141px;
  width:72px;
  height:27px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u2060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:141px;
  width:116px;
  height:27px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u2062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:144px;
  width:25px;
  height:21px;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:253px;
  width:836px;
  height:185px;
}
#u2065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:37px;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:37px;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u2067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:0px;
  width:43px;
  height:37px;
  font-size:14px;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u2069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:82px;
  height:37px;
  font-size:14px;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:37px;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:0px;
  width:66px;
  height:37px;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u2073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:0px;
  width:82px;
  height:37px;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:37px;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:0px;
  width:59px;
  height:37px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u2077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:0px;
  width:51px;
  height:37px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u2079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:37px;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:0px;
  width:59px;
  height:37px;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u2081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:37px;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:0px;
  width:49px;
  height:37px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u2083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:0px;
  width:56px;
  height:37px;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u2085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:0px;
  width:51px;
  height:37px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:0px;
  width:52px;
  height:37px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:37px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:0px;
  width:77px;
  height:37px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:0px;
  width:60px;
  height:37px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:44px;
  height:36px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:37px;
  width:43px;
  height:36px;
  color:#169BD5;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u2097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:37px;
  width:82px;
  height:36px;
  color:#169BD5;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:37px;
  width:66px;
  height:36px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u2101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:37px;
  width:82px;
  height:36px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:37px;
  width:59px;
  height:36px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u2105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:37px;
  width:51px;
  height:36px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:37px;
  width:59px;
  height:36px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u2109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:37px;
  width:49px;
  height:36px;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u2111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:37px;
  width:56px;
  height:36px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u2113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:37px;
  width:51px;
  height:36px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u2115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:37px;
  width:52px;
  height:36px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u2117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:37px;
  width:77px;
  height:36px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u2119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:37px;
  width:60px;
  height:36px;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:44px;
  height:35px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u2123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:73px;
  width:43px;
  height:35px;
  color:#169BD5;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u2125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:73px;
  width:82px;
  height:35px;
  color:#169BD5;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:73px;
  width:66px;
  height:35px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u2129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:73px;
  width:82px;
  height:35px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:73px;
  width:59px;
  height:35px;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:73px;
  width:51px;
  height:35px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u2135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:73px;
  width:59px;
  height:35px;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:73px;
  width:49px;
  height:35px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:73px;
  width:56px;
  height:35px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:73px;
  width:51px;
  height:35px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:35px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:73px;
  width:52px;
  height:35px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:35px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:73px;
  width:77px;
  height:35px;
  color:#FF0000;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:73px;
  width:60px;
  height:35px;
  color:#FF0000;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:44px;
  height:36px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:108px;
  width:43px;
  height:36px;
  color:#169BD5;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:108px;
  width:82px;
  height:36px;
  color:#169BD5;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:108px;
  width:66px;
  height:36px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:108px;
  width:82px;
  height:36px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:108px;
  width:59px;
  height:36px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:108px;
  width:51px;
  height:36px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:108px;
  width:59px;
  height:36px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:108px;
  width:49px;
  height:36px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:108px;
  width:56px;
  height:36px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:108px;
  width:51px;
  height:36px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:108px;
  width:52px;
  height:36px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:108px;
  width:77px;
  height:36px;
  color:#008000;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:108px;
  width:60px;
  height:36px;
  color:#008000;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:44px;
  height:36px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:144px;
  width:43px;
  height:36px;
  color:#169BD5;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:144px;
  width:82px;
  height:36px;
  color:#169BD5;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:144px;
  width:66px;
  height:36px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:144px;
  width:82px;
  height:36px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:144px;
  width:59px;
  height:36px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:144px;
  width:51px;
  height:36px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:144px;
  width:59px;
  height:36px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:144px;
  width:49px;
  height:36px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:144px;
  width:56px;
  height:36px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:144px;
  width:51px;
  height:36px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:144px;
  width:52px;
  height:36px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:144px;
  width:77px;
  height:36px;
  color:#FF0000;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:144px;
  width:60px;
  height:36px;
  color:#FF0000;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:228px;
  width:101px;
  height:25px;
}
#u2206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:228px;
  width:101px;
  height:25px;
}
#u2207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:228px;
  width:101px;
  height:25px;
}
#u2208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:228px;
  width:101px;
  height:25px;
}
#u2209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:228px;
  width:101px;
  height:25px;
}
#u2210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background-color:#FFCC00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:228px;
  width:101px;
  height:25px;
}
#u2211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:228px;
  width:101px;
  height:25px;
}
#u2212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:228px;
  width:101px;
  height:25px;
}
#u2213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:228px;
  width:21px;
  height:25px;
}
#u2214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:228px;
  width:21px;
  height:25px;
}
#u2215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:235px;
  width:14px;
  height:13px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:233px;
  width:18px;
  height:16px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:90px;
  width:120px;
  height:35px;
  font-size:16px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:90px;
  width:120px;
  height:35px;
  font-size:16px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:91px;
  width:77px;
  height:25px;
}
#u2224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:91px;
  width:16px;
  height:25px;
}
#u2225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:96px;
  width:14px;
  height:16px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:91px;
  width:16px;
  height:25px;
}
#u2228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:98px;
  width:11px;
  height:13px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:29px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:189px;
  width:498px;
  height:29px;
  font-size:16px;
  text-align:left;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:494px;
  word-wrap:break-word;
}
#u2233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:90px;
  width:120px;
  height:35px;
  font-size:16px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:851px;
  height:5px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:123px;
  width:848px;
  height:2px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:501px;
  width:98px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:22px;
  width:300px;
  height:54px;
  font-size:36px;
  color:#169BD5;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:45px;
  width:97px;
  height:28px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u2243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:49px;
  width:47px;
  height:20px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
