body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u3453 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:234px;
  width:50px;
  height:80px;
}
#u3454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u3455 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:692px;
  width:50px;
  height:80px;
}
#u3456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:829px;
}
#u3457 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:35px;
  width:1px;
  height:828px;
}
#u3458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:406px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:2px;
}
#u3459 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:478px;
  width:1274px;
  height:1px;
}
#u3460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:829px;
}
#u3461 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:33px;
  width:1px;
  height:828px;
}
#u3462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:406px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3463 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:95px;
  width:43px;
  height:17px;
}
#u3464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3465 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:28px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u3466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:2px;
}
#u3467 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:661px;
  width:1274px;
  height:1px;
}
#u3468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3469 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:133px;
  width:82px;
  height:44px;
  color:#FFFFFF;
}
#u3470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:78px;
  word-wrap:break-word;
}
#u3471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:2px;
}
#u3471 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:830px;
  width:1274px;
  height:1px;
}
#u3472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:2px;
}
#u3473 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:119px;
  width:1274px;
  height:1px;
}
#u3474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:835px;
}
#u3475 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:28px;
  width:1px;
  height:834px;
}
#u3476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:409px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3477 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:29px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u3478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:835px;
}
#u3479 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:28px;
  width:1px;
  height:834px;
}
#u3480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:409px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3481 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:324px;
  width:37px;
  height:13px;
  font-size:18px;
}
#u3482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u3483 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:515px;
  width:50px;
  height:80px;
}
#u3484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3485 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:609px;
  width:37px;
  height:13px;
  font-size:18px;
}
#u3486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3487 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:775px;
  width:109px;
  height:13px;
  font-size:18px;
}
#u3488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3489 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:155px;
  width:0px;
  height:0px;
}
#u3489_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u3489_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3490 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3491 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:133px;
  width:66px;
  height:44px;
  color:#FFFFFF;
}
#u3492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u3493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3493 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:270px;
  width:66px;
  height:44px;
  color:#FFFFFF;
}
#u3494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u3495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3495 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:181px;
  width:94px;
  height:44px;
  color:#FFFFFF;
}
#u3496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u3497 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:203px;
  width:0px;
  height:0px;
}
#u3497_seg0 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:78px;
  height:8px;
}
#u3497_seg1 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:8px;
  height:97px;
}
#u3497_seg2 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:85px;
  width:22px;
  height:8px;
}
#u3497_seg3 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:80px;
  width:18px;
  height:18px;
}
#u3498 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
  background:inherit;
  background-color:rgba(153, 255, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3499 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:155px;
  width:94px;
  height:65px;
}
#u3500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3501 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:220px;
  width:0px;
  height:0px;
}
#u3501_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u3501_seg1 {
  border-width:0px;
  position:absolute;
  left:-318px;
  top:44px;
  width:322px;
  height:8px;
}
#u3501_seg2 {
  border-width:0px;
  position:absolute;
  left:-318px;
  top:44px;
  width:8px;
  height:32px;
}
#u3501_seg3 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:68px;
  width:23px;
  height:8px;
}
#u3501_seg4 {
  border-width:0px;
  position:absolute;
  left:-339px;
  top:63px;
  width:18px;
  height:18px;
}
#u3502 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:782px;
}
#u3503 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:82px;
  width:1px;
  height:781px;
}
#u3504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3505 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:95px;
  width:155px;
  height:17px;
}
#u3506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3507 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:728px;
  width:81px;
  height:44px;
  color:#FFFFFF;
}
#u3508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u3509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3509 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:519px;
  width:81px;
  height:44px;
  color:#FFFFFF;
}
#u3510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u3511 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:750px;
  width:0px;
  height:0px;
}
#u3511_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u3511_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-213px;
  width:8px;
  height:217px;
}
#u3511_seg2 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-213px;
  width:19px;
  height:8px;
}
#u3511_seg3 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-218px;
  width:18px;
  height:18px;
}
#u3512 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3513 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:407px;
  width:81px;
  height:44px;
  color:#FFFFFF;
}
#u3514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:77px;
  word-wrap:break-word;
}
#u3515 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:541px;
  width:0px;
  height:0px;
}
#u3515_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u3515_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-314px;
  width:8px;
  height:318px;
}
#u3515_seg2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-314px;
  width:51px;
  height:8px;
}
#u3515_seg3 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-319px;
  width:18px;
  height:18px;
}
#u3516 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-151px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3517 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:552px;
  width:81px;
  height:44px;
  color:#FFFFFF;
}
#u3518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u3519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3519 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:607px;
  width:81px;
  height:44px;
  color:#FFFFFF;
}
#u3520 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u3521 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:563px;
  width:0px;
  height:0px;
}
#u3521_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u3521_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u3522 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3523 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:451px;
  width:0px;
  height:0px;
}
#u3523_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:123px;
}
#u3523_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:115px;
  width:139px;
  height:8px;
}
#u3523_seg2 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:115px;
  width:8px;
  height:188px;
}
#u3523_seg3 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:295px;
  width:20px;
  height:8px;
}
#u3523_seg4 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:290px;
  width:18px;
  height:18px;
}
#u3524 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:111px;
  width:100px;
  word-wrap:break-word;
}
#u3525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3525 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:209px;
  width:81px;
  height:44px;
  color:#FFFFFF;
}
#u3526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:77px;
  word-wrap:break-word;
}
#u3527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3527 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:746px;
  width:81px;
  height:44px;
  color:#FFFFFF;
}
#u3528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:77px;
  word-wrap:break-word;
}
#u3529 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:596px;
  width:0px;
  height:0px;
}
#u3529_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:154px;
}
#u3529_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:138px;
  width:18px;
  height:18px;
}
#u3530 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3531 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:32px;
  width:78px;
  height:28px;
  font-size:18px;
}
#u3532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u3533 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:231px;
  width:0px;
  height:0px;
}
#u3533_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u3533_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-4px;
  width:8px;
  height:325px;
}
#u3533_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:309px;
  width:18px;
  height:18px;
}
#u3534 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3535 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:587px;
  width:81px;
  height:44px;
  color:#FFFFFF;
}
#u3536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u3537 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:609px;
  width:0px;
  height:0px;
  font-size:9px;
}
#u3537_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u3537_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-4px;
  width:8px;
  height:149px;
}
#u3537_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:137px;
  width:20px;
  height:8px;
}
#u3537_seg3 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:132px;
  width:18px;
  height:18px;
}
#u3538 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3539 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:202px;
  width:66px;
  height:44px;
  color:#FFFFFF;
}
#u3540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  word-wrap:break-word;
}
#u3541 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:246px;
  width:0px;
  height:0px;
}
#u3541_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u3541_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:18px;
}
#u3542 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3543 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:177px;
  width:0px;
  height:0px;
}
#u3543_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u3543_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:18px;
}
#u3544 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3545 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:224px;
  width:0px;
  height:0px;
}
#u3545_seg0 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:-4px;
  width:85px;
  height:8px;
}
#u3545_seg1 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:-4px;
  width:8px;
  height:213px;
}
#u3545_seg2 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:201px;
  width:77px;
  height:8px;
}
#u3545_seg3 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:196px;
  width:18px;
  height:18px;
}
#u3546 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:90px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3547 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:314px;
  width:0px;
  height:0px;
}
#u3547_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u3547_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:81px;
  width:18px;
  height:18px;
}
#u3548 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3549 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:123px;
  width:94px;
  height:33px;
  color:#FFFFFF;
}
#u3550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3551 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:155px;
  width:0px;
  height:0px;
}
#u3551_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-4px;
  width:6px;
  height:8px;
}
#u3551_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-4px;
  width:8px;
  height:30px;
}
#u3551_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:14px;
  width:18px;
  height:18px;
}
#u3552 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3553 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:582px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3555 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:251px;
  width:57px;
  height:17px;
}
#u3556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3557 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:279px;
  width:113px;
  height:17px;
}
#u3558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3559 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:552px;
  width:81px;
  height:44px;
  color:#FFFFFF;
}
#u3560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:77px;
  word-wrap:break-word;
}
#u3561 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:574px;
  width:0px;
  height:0px;
  font-size:9px;
}
#u3561_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u3561_seg1 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
