body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:701px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3563 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:19px;
  width:70px;
  height:27px;
  color:#FFFFFF;
}
#u3564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u3565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3565 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:640px;
  width:70px;
  height:44px;
}
#u3566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u3567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:2px;
}
#u3567 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:666px;
  width:71px;
  height:1px;
}
#u3568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3569 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:77px;
  width:70px;
  height:44px;
  color:#FFFFFF;
}
#u3570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u3571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3571 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:19px;
  width:70px;
  height:26px;
  color:#FFFFFF;
}
#u3572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u3573 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:45px;
  width:0px;
  height:0px;
}
#u3573_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u3573_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:20px;
  width:18px;
  height:18px;
}
#u3574 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:66px;
}
#u3575 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:157px;
  width:99px;
  height:66px;
}
#u3576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:95px;
  word-wrap:break-word;
}
#u3577 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:117px;
  width:0px;
  height:0px;
}
#u3577_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u3577_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:44px;
}
#u3577_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:28px;
  width:18px;
  height:18px;
}
#u3578 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3579 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:223px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3579_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:123px;
}
#u3579_seg1 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:115px;
  width:107px;
  height:8px;
}
#u3579_seg2 {
  border-width:0px;
  position:absolute;
  left:-109px;
  top:110px;
  width:18px;
  height:18px;
}
#u3580 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:104px;
  width:100px;
  word-wrap:break-word;
}
#u3581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:99px;
}
#u3581 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:608px;
  width:22px;
  height:99px;
}
#u3582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:18px;
  word-wrap:break-word;
}
#u3583 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:46px;
  width:0px;
  height:0px;
}
#u3583_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u3583_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:37px;
  width:6px;
  height:8px;
}
#u3583_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:32px;
  width:18px;
  height:18px;
}
#u3584 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3585 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:81px;
  width:124px;
  height:44px;
  color:#FFFFFF;
}
#u3586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u3587 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:204px;
  width:0px;
  height:0px;
}
#u3587_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u3587_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u3588 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3589 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:175px;
  width:70px;
  height:29px;
  color:#FFFFFF;
}
#u3590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u3591 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:125px;
  width:0px;
  height:0px;
}
#u3591_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u3591_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u3592 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3593 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:334px;
  width:70px;
  height:29px;
  color:#FFFFFF;
}
#u3594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u3595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:327px;
  width:70px;
  height:29px;
  color:#FFFFFF;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u3597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:248px;
  width:99px;
  height:42px;
}
#u3598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u3599 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:269px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3599_seg0 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-4px;
  width:70px;
  height:8px;
}
#u3599_seg1 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-4px;
  width:8px;
  height:69px;
}
#u3599_seg2 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:53px;
  width:18px;
  height:18px;
}
#u3600 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u3601 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:290px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3601_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u3601_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:48px;
  width:72px;
  height:8px;
}
#u3601_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:43px;
  width:18px;
  height:18px;
}
#u3602 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:44px;
  width:100px;
  word-wrap:break-word;
}
#u3603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3603 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:407px;
  width:158px;
  height:50px;
  color:#FFFFFF;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:154px;
  word-wrap:break-word;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:190px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3605_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:20px;
  height:8px;
}
#u3605_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-4px;
  width:8px;
  height:250px;
}
#u3605_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:238px;
  width:68px;
  height:8px;
}
#u3605_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:233px;
  width:18px;
  height:18px;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:138px;
  width:100px;
  word-wrap:break-word;
}
#u3607 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:363px;
  width:0px;
  height:0px;
  font-size:9px;
}
#u3607_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u3607_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:65px;
  width:204px;
  height:8px;
}
#u3607_seg2 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:60px;
  width:18px;
  height:18px;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:61px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
