body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:652px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:652px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:23px;
  height:25px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:94px;
  width:300px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:155px;
  width:302px;
  height:1px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:306px;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:120px;
  width:1px;
  height:305px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:144px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:182px;
  width:302px;
  height:1px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:209px;
  width:302px;
  height:1px;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:235px;
  width:302px;
  height:1px;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:262px;
  width:302px;
  height:1px;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:289px;
  width:302px;
  height:1px;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:130px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:130px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:161px;
  width:29px;
  height:17px;
  color:#FF0000;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:161px;
  width:17px;
  height:17px;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFCC00;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:188px;
  width:29px;
  height:17px;
  color:#FFCC00;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:188px;
  width:17px;
  height:17px;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#99FF33;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:214px;
  width:29px;
  height:17px;
  color:#99FF33;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:214px;
  width:17px;
  height:17px;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:241px;
  width:29px;
  height:17px;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:241px;
  width:17px;
  height:17px;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:266px;
  width:29px;
  height:17px;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:266px;
  width:17px;
  height:17px;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:119px;
  width:349px;
  height:1px;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:121px;
  height:34px;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u1548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:47px;
  width:121px;
  height:34px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u1550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:47px;
  width:121px;
  height:34px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u1552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:96px;
  width:44px;
  height:18px;
  font-size:12px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u1554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#333333;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:96px;
  width:44px;
  height:18px;
  font-size:12px;
  color:#333333;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u1556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:315px;
  width:302px;
  height:1px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:342px;
  width:302px;
  height:1px;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:294px;
  width:29px;
  height:17px;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:294px;
  width:17px;
  height:17px;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:319px;
  width:29px;
  height:17px;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:319px;
  width:17px;
  height:17px;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:370px;
  width:302px;
  height:1px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:397px;
  width:302px;
  height:1px;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:349px;
  width:29px;
  height:17px;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:349px;
  width:17px;
  height:17px;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:374px;
  width:29px;
  height:17px;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:374px;
  width:17px;
  height:17px;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:423px;
  width:302px;
  height:1px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:400px;
  width:29px;
  height:17px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:400px;
  width:17px;
  height:17px;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
